@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400;1,600;1,700;1,900&display=swap");

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background: #7bfada;
}

.sliderBx {
  width: 350px;
  padding: 0px 3px;
}

.slider {
  display: flex;
  
  width: 350px;
  height: 200px;
  background: url(./img/img-slider/1mapa.png);
  animation: slide 30s infinite;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@keyframes slide {
  0% {
    background: url(./img/img-slider/1mapa.png);
    background-size: cover;
  }
  20% {
    background: url(./img/img-slider/1sobre.png);
    background-size: cover;
  }
  40%{
      
      background: url(./img/img-slider/1entrar.png);
      background-size: cover;
  }
  60%{
           
      background: url(./img/img-slider/1clinicacadastro.png);
      background-size: cover;
  }
  80%{
      
      background: url(./img/img-slider/1quemsomos.png);
      background-size: cover;
  }
  100%{
     
      background: url(./img/img-slider/1faleconosco.png);
      background-size: cover;
  }
}

.info-section1 {
  font-family: "Montserrat", sans-serif;
}

.ansiedade-info1 {
  padding: 20px;
}

.info1 {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
  text-decoration: underline 3px #7bfada;
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.ansiedade-txt {
  letter-spacing: 1px;
}

.fig1 {
  padding: 20px;
  margin: 20px;
  width: 380px;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7bfada;
}

.info2 {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
}

.ansiedade-txt2 {
  letter-spacing: 1px;
  padding: 20px;
  margin: 10px;
}

.fig2 {
  padding: 20px ;
  margin: 20px ;
  width: 350px;
}

.part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.ul-causas {
  padding: 20px;
  margin: 10px;
  line-height: 2;
  margin:0px 2px 0px 2px;
}

.li-causas {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.fig3 {
  padding: 20px ;
  margin: 20px ;
  width: 350px;
}

.part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7bfada;
}

.info3 {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
}

.ul-sintomas {
  line-height: 2;
  margin:0px 2px 0px 2px;
}

.li-causas {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.fig4{
  padding: 20px ;
  margin: 20px ;
  width: 380px;
  height: 300px;
}

