@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400;1,600;1,700;1,900&display=swap");

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background: #7bfada;
}

.sliderBx {
  width: 350px;
  padding: 0px 3px;
}

.slider {
  display: flex;
  
  width: 350px;
  height: 200px;
  background: url(./img/img-slider/1mapa.png);
  animation: slide 30s infinite;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@keyframes slide {
  0% {
    background: url(./img/img-slider/1mapa.png);
    background-size: cover;
  }
  20% {
    background: url(./img/img-slider/1sobre.png);
    background-size: cover;
  }
  40%{
      
      background: url(./img/img-slider/1entrar.png);
      background-size: cover;
  }
  60%{
           
      background: url(./img/img-slider/1clinicacadastro.png);
      background-size: cover;
  }
  80%{
      
      background: url(./img/img-slider/1quemsomos.png);
      background-size: cover;
  }
  100%{
     
      background: url(./img/img-slider/1faleconosco.png);
      background-size: cover;
  }
}

.info-section1 {
  font-family: "Montserrat", sans-serif;
}

.ansiedade-info1 {
  padding: 20px;
}

.info1 {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
  text-decoration: underline 3px #7bfada;
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.ansiedade-txt {
  letter-spacing: 1px;
}

.fig1 {
  padding: 20px;
  margin: 20px;
  width: 380px;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7bfada;
}

.info2 {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
}

.ansiedade-txt2 {
  letter-spacing: 1px;
  padding: 20px;
  margin: 10px;
}

.fig2 {
  padding: 20px ;
  margin: 20px ;
  width: 350px;
}

.part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.ul-causas {
  padding: 20px;
  margin: 10px;
  line-height: 2;
  margin:0px 2px 0px 2px;
}

.li-causas {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.fig3 {
  padding: 20px ;
  margin: 20px ;
  width: 350px;
}

.part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7bfada;
}

.info3 {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px;
  color: #212221; 
}

.ul-sintomas {
  line-height: 2;
  margin:0px 2px 0px 2px;
}

.li-causas {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.fig4{
  padding: 20px ;
  margin: 20px ;
  width: 380px;
  height: 300px;
}

@media (min-width: 700px) {
  .slider-section {
      width: 100%;
      height: 100vh;
  }
  .sliderBx {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 100px  auto ;
      border: 2px solid #c3c3c3;
      width: 850px;
      height: 450px;
    }
    .slider {
      width: 800px;
      height: 400px;
      background: url(./img/cadastro.png);
      background-size: cover;
      margin: 100px auto;
      animation: slide 20s infinite;
    }
    .info-section1 {
      width: 100%;
      height: 100vh;
    }
    .ansiedade-info {
      background: #fff;
      padding: 20px 0;
      font-family: "Montserrat", sans-serif;
    }
    .info1 {
      font-size: 1.8rem;
      text-align: center;
    }
    .part1 {
      flex-direction: row;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px 20px;
    }
    .ansiedade-txt {
      float: left;
      width: 50%;
      margin: 10px;
    }
    .fig1 {
      float: right;
      width: 40%;
      height: 280px;
      margin: 50px 0; 
    }
    .part2 {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px 20px;
    }
    .info2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        background: #7bfada;   
    }
    .ansiedade-txt2 {
      padding-block: 0;
      width: 80%;
    }

    .fig2 {
      width: 500px;
      height: 400px;
    }
    .part3 {
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px 20px;
    }
    .ul-causas {
      width: 50%;
      margin: 10px;
    }
    .li-causas {
      font-size: 0.9em;
      letter-spacing: 1px;
      line-height: 2;
      margin:0px 2px 0px 2px;
    }
    .fig3 {
      width: 40%;
      height: 400px;
      margin: 10px ;
    }
    .part4 {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px 20px;
    }
    .info3 {
      font-size: 1.5rem;
      text-align: center;
    }
    .row-lista-img {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
    }
    .ul-sintomas {
      width: 50%;
      margin: 10px;
    }
    .li-sintomas {
      font-size: 0.9em;
      letter-spacing: 1px;
      line-height: 2;
      margin:0px 2px 0px 2px;
    }
    .fig4 {
      width: 50%;
      height: 400px;
      margin: 10px ;
    }
  }