.divMain{
margin-bottom: 150px;
}

.card {
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 25px;
}
.img{
background: white;
}

.img img {
    object-fit: cover;
    width: 200px;
    height: 200px;
  
}

.cardInfo {
    min-width: 600px;
    max-width: 1100px;
    background: rgb(240, 239, 239);
    text-align: center;
    
    /*   justify-content: center; */
    padding: 15px 45px 15px 45px;
}

.cardInfo h2 {
    font-weight: 400;
    font-size: 30px;
}

.cardInfo p {
    font-size: 12px;
    color: gray;
}