.divMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-second-color);

  padding-bottom: 150px;
  text-align: center;
  position: relative;
}
.filter {
  fill: var(--third-color);
  position: absolute;
  z-index: 200;
 
  right: 20px;
  top: 70px;
  width: 35px;
  cursor: pointer;
 
}

.card {
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 25px;
}
.img {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.cardInfo {
  width: 600px;
  background: rgb(240, 239, 239);
  text-align: center;

  padding: 50px;
}

.cardInfo h2 {
  font-weight: 400;
  font-size: 30px;
}

.cardInfo p {
  font-size: 12px;
  color: gray;
}

.button-marcar {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  border: 0 solid;
}

@media (max-width: 900px) {
  .card {
    height: none;
    max-width: 700px;
  }
  .cardInfo {
  
    width: 100%;
  }
}

.title-list{
  margin-top: 20px;
  background-color: white;
}


.box-filter {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 1000;

  width: 45%;
  height: 200px;
  background: white;
  box-shadow: 0px 10px 50px 15px black;
  border-radius: 15px;
 
}

.close-modal{
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: var(--background-second-color);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.show-filter{
    display: flex;
}


@media (max-width: 950px) {
  .box-filter {
    
    align-items: center;
    flex-direction: column;    
    width: 45%;    
    height: 7%;
    justify-content: space-evenly;  
    
  }
}

@media (max-width: 380px) {
  .box-filter {
    
    align-items: center;
    flex-direction: column;    
    width: 75%;  
    height: 7%; 
  }

  .cardInfo {
    padding: 25px;
  }
}