
.header-content {
  display: flex;
  align-items: center;
  height: 10%;
  background: white;
 
}
.header-content .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0px 10px;
}
.header-content .logo{
  width: 35%;


}

.header-content .menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header-content .menu-mobile .hamburguer {
  width: 30px;
  height: 3px;
  background: var(--third-color);
  position: relative;
  z-index: 1001;
} 
.header-content .menu-mobile .hamburguer::after,
.header-content .menu-mobile .hamburguer::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: var(--third-color);
}
.header-content .menu-mobile .hamburguer::after {
  top: 7px;
}
.header-content .menu-mobile .hamburguer::before {
  top: -7px;
}

 .ul-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  transform: translateX(-100%);
  transition: 0.2s;
}
.show-ul{
  transform: translateX(0);
}
.header-content .navBar  .li-header {
  padding: 25px;
  font-weight: 400;

}

@media (min-width:950px){
  .header-content .navBar {
    padding: 0px 40px;
  }
  .header-content .menu-mobile {
    display: none;
  }
  .header-content .logo{
    width: 45%;
  
  }
 
  .ul-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    background: transparent;
    width: 100%;
    transform: translateX(0);
  }
}