.box-about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

@media (max-width: 740px) {
  .box-about {
    display: flex;
    flex-direction: column;
    height: 86%;
  }
}

.box-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: white;
  border-top: 40px solid var(--second-color);
  border-bottom: 40px solid var(--second-color);
  border-left: 7px solid var(--second-color);
  border-right: 7px solid var(--second-color);
  border-radius: 30px;
  height: 450px;
  margin-left: 15%;
  margin-bottom: 20px;
  display: flex;
}
.button-bottom{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(54, 54, 54);
  bottom: -33px;
  border-radius: 100%;
}


@media(max-width:860px){
  .box-img {
    display: none;
  }
  .box-description {
    display: flex;
    width: 100%;
    margin: auto;
    margin-right: 120px;
    justify-content: center;
    flex-direction: column;
  }
}

.img-about {
  width: 100%;
}

@media (max-width: 980px) {
  .img-about {
    width: 100%;
  }
}

.box-description {
  display: flex;
  width: 40%;
  margin: auto;
  margin-right: 120px;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 740px) {
  .box-description {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.description {
  width: 26rem;
  font-size: 2rem;
}

@media (max-width: 980px) {
  .description {
    width: 20rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 830px) {
  .description {
    font-size: 1.3rem;
  }
}

@media (max-width: 740px) {
  .description {
    height: 86%;
    font-size: 1.5rem;
    width: 20rem;
    text-align: center;
  }
}
