.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  background: #ffffff;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 70%;
  
}
.txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
  color: var(--third-color);
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 40px;
  width: 33.33%;
  
}
.box .txt{
  color: var(--third-color);
}
.list-list {
  padding: 10px;
  font-size: 18px;
}

.footer-logo {
 width: 30%;
}
.title-footer{
  margin-top: 10px;
  color: var(--third-color);
}

.copyr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: var(--third-color);
}

@media(max-width:900px){
    .footer-container {
        min-height: 400px;
        text-align: center;
      }
      .txt-box {
        flex-direction: column;
        justify-content: space-between;
      }
      .box {
      padding: 5px 30px;
        width: 80%;
      }
      .footer-content {
        height: 90%;
      }
      .copyr {
        height: 10%;
      }
}
