.content-modal {
    flex-direction: column;
} 
.modal-titulo {
    text-align: center;
    font-family: sans-serif;
    font-size: max(30px , 1.2vw);
}

.box-filter {
    display: flex;
    justify-content: center;
}

.box-label {
    text-align: center;
    margin-right: 10px;
    display: flex;
}

.text-modal {
    font-size: max(25px , 1.2vw);
    align-items: center;
    display: flex;
}

.box-filter-select {
    display: flex;
    align-items: center;
}

.select-inputs {
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.box-input {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.input-submit {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid;
    font-size: 14px;
}

.input-submit:hover {
   
    background: linear-gradient(45deg, #2cf0a1, #67f8bc, #c5f5e2);      
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);

}