.header-content {
  display: flex;
  align-items: center;
  height: 12%;
}
.header-content .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0px 30px;
}
.header-content .menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
}
.header-content .menu-mobile .hamburguer {
  width: 30px;
  height: 3px;
  background: black;
  position: relative;
}
.header-content .menu-mobile .hamburguer::after,
.header-content .menu-mobile .hamburguer::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: black;
}
.header-content .menu-mobile .hamburguer::after {
  top: 7px;
}
.header-content .menu-mobile .hamburguer::before {
  top: -7px;
}

.header-content .navBar .ul-header {
  display: none;
}

.header-content .navBar .ul-header .li-header {
  padding: 20px;

  font-weight: 600;
  letter-spacing: 3px;
  
  color: var(--third-color);
}

@media (min-width: 950px) {
  .header-content .menu-mobile {
    display: none;
  }

  .header-content .navBar .ul-header {
    display: flex;
  }
}
