.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  width: 100%;
  height: 93%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  line-height: 45px;
  color: #0b3346;
  text-align: center;
}

.home-titulo {
  font-size: max(30px, 5vw);
  letter-spacing: 10px;
}

.home-paragrafo {
  font-size: max(15px, 1.3vw);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.form {
  display: flex;
  background: white;
  border-radius: 8px;
  border: none;
  width: 50%;
  min-width: 300px;
  height: 8%;
  padding: 0 10px;
  max-height: 60px;
  min-height: 50px;
  margin-bottom: 5px;
}
.home-input {
  font-size: 20px;
  width: 95%;
  border: none;
  background: transparent;
  padding: 10px;
}
.home-button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.home-h3 {
  margin: 5px;
}
.home-img {
  width: 300px;
  margin-bottom: 50px;
}
