.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  line-height: 45px;
  text-align: center;
}

.home-titulo {
  font-size: max(40px, 5vw);
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.home-titulo-ls {
  font-size: max(30px, 3vw);
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.home-paragrafo {
  font-size: max(12px, 1.3vw);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.form {
  position: relative;
  z-index: 2;
  display: flex;
  background: white;
  border-radius: 8px;
  border: none;
  width: 50%;
  min-width: 300px;
  height: 8%;
  padding: 0 10px;
  max-height: 60px;
  min-height: 50px;
  margin-bottom: 5px;
}
iframe {
  width: 50%;
  height: 50%;
  max-height: 250px;
  position: relative;
  z-index: 2;
}
.home-input {
  font-size: 20px;
  width: 95%;
  border: none;
  background: transparent;
  padding: 10px;
}
.home-button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.home-h3 {
  font-size: max(12px, 1.3vw);
  margin: 5px;
}
.home-img {
  width: 300px;
  margin-bottom: 50px;
}

.list-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 4;
  background: var(--background-second-color);
  width: 100%;
  padding: 50px;
}



.grid-card {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 20px;
}

.list-title {
  text-align: center;
  padding: 5px;
  font-size: max(18px, 2.5vw);
  margin-bottom: 30px;
  background-color: white;
  color: var(--third-color);
  border-radius: 8px;
}

.card-main {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  text-align: right;
  display: flex;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.rotate {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-main:hover .rotate {
  transform: rotateY(180deg);
}

.img-card-area {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  color: black;
}
.city {
  background-color: white;
  border-radius: 8px;
  font-size: max(30px, 2vw);
  position: absolute;
}
.img-card {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.card-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--background-first-color);
  color: white;
  transform: rotateY(180deg);
}

.card-infos p {
  text-align: center;
  width: 80%;
  font-size: max(12px, 1vw);
  margin: 20px 0;
}

.linkbtn {
  margin: 20px auto;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  z-index: 4;
}

@media (max-width: 600px) {
  .home-titulo {
    letter-spacing: 3px;
  }
  .card-main {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .grid-card {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}
