.content {
  text-align: center;
  color: #0b3346;
  font-size: max(12px , 1.5vw);
  display: flex;
  align-items: center;

  justify-content: center;
  width: 100%;
  height: 93vh;
 
}

.cadastro-texts {
  position: relative;
  z-index: 2;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cadastro-texts-titulo {
 background-color: white;
  margin-bottom: 20px;
 font-size: max(30px, 3vw);
}

.cadastro-texts-subtitulo {
  margin-bottom: 20px;
  background-color: white;
  font-size: max(23px, 2.3vw);
}

.cadastro-div-inputs {
  position: relative;
  z-index: 2;
display: flex; 
flex-direction: column;
width: 100%;
}

.cadastro-inputs {
  padding: 10px; 
  margin-bottom: 15px; 
  border-radius: 8px;
  border: none;
  width: 70%;
  height: 50px;

}

.cadastro-button { 
  margin-bottom: 10px; 
  border-radius: 8px;
  background: #0b3346;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  width: 70%;
  height: 50px;
}
.hospital{
  width:40%;
  position: absolute;
  bottom: 0%;
  left: 100px;
  opacity: 1;
}
@media(max-width:673px){
  .content{
    flex-direction: column;
  }
  .cadastro-div-inputs{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }
  .cadastro-inputs {

    height: 40px;
  
  }.hospital{
   display: none;
  }

  
}