.content {
    text-align: center;
    color: #0b3346;
    font-size: max(12px, 1.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
  }
  
  .form-paciente-texts {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px; 
  }
  
  .form-paciente-texts-titulo {

    margin-bottom: 20px;
    font-size: max(30px, 3vw);
     
  }
  
  .form-paciente-texts-subtitulo {
    margin: 0 20px 50px 20px;
    font-size: max(23px, 2vw);
    width: 90%;
  }
  
  .form-paciente-inputs-geral {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-paciente-inputs {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    width: 70%;
    height: 50px;
  }
  
  .form-paciente-button {
    margin-bottom: 10px;
    border-radius: 8px;
    background: #0b3346;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    width: 70%;
    height: 60px;
  }
  
  .lock{
    width:40%;
    position: absolute;
    bottom: 0%;
    left: 50px;

    opacity:1;
  }

  @media (max-width: 673px) {
    .content {
      flex-direction: column;
    }
    .form-paciente-inputs-geral {
      margin-top: 30px;
      justify-content: center;
      align-items: center;
    }
    .form-paciente-texts-subtitulo{
      margin-bottom: 0;
    }
    .form-paciente-inputs {
  
      height: 40px;
    }

    .lock{
      display: none;
    }
    
  }
  