.option-area {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  text-align: center;
  padding-top: 30px;
}

.login-form {
  position: relative;
  z-index: 200;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
legend {
  font-size: max(28px, 4vw);
  font-weight: 600;
  padding: 10px 0;
  color: var(--third-color);
}

.login-inputs {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  width: 70%;
  min-width: 300px;
  min-height: 60px;
  height: 15%;
  font-size: max(20px, 1.5vw);
}

.inputs-error {
  border: 3px solid red;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 70%;
  margin: 10px;
  min-width: 300px;
  min-height: 60px;
  height: 15%;
  font-size: max(20px, 1.5vw);
}
.help {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 300px;
  height: 30%;
  max-height: 100px;
  cursor: pointer;
  background: linear-gradient(white, transparent);
  margin-top: 20px;
  border-radius: 8px;
  font-size: max(20px, 2vw);
  transition: 0.5s;
}
.help:hover {
  background-color: white;
}

.img-login {
  width: 17%;
  min-width: 150px;
  margin: 20px 0;
}
.linkdark {
  margin: 0;
  background-color: var(--third-color);
  color: white;
}
.msgError {
  display: none;
  position: absolute;
  top: -30px;
  background-color: red;
  padding: 20px;
  color: white;
  z-index: 4000;
  opacity: 0.8;
  animation: error 10s;
  animation-fill-mode: forwards;
}

.show-msgError {
  display: block;
}
.linkLogin{
  color: var(--third-color);
}
.linkLogindark{
  color: white;
}
@keyframes error {
  100% {
    opacity: 0;
  }
}
